@import 'tailwindcss';

/* Code syntax highlighting, powered by https://highlightjs.org */
@import 'highlight.js/styles/a11y-light.css' layer(components);

@import './base.css' layer(components);
/* @import 'mailchimp'; */
@import './custom.css' layer(components);

@source '../../../source';

@theme {
  --text-*: initial;
  --text-xs: 0.8rem;
  --text-sm: 0.925rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2.125rem;
  --text-5xl: 2.625rem;
  --text-6xl: 10rem;

  --font-sans:
    'Nunito Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --leading-normal: 1.6;
  --leading-loose: 1.75;

  --container-8xl: 88rem;

  --shadow-search:
    0 -1px 27px 0 rgba(0, 0, 0, 0.04), 0 4px 15px 0 rgba(0, 0, 0, 0.08);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
